<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>technonia dashboard</title>

    <link rel="stylesheet" href="./public/css/chart.css">
    <link rel="stylesheet" href="./public/css/info.css">
    <link rel="stylesheet" href="./public/css/cameraImage.css">
    <link rel="stylesheet" href="./public/css/search.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://use.fontawesome.com/893b912e06.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <%- include('./chart_data') %>
    <script src="./public/js/chart.js"></script>
    <script src="./public/js/search.js"></script>
  </head>
  <body>
	<div id="wrapper" >
		<div id = "header">
	      <div id="logo">
	        <img src="../public/images/technonia_logo.png" id="header" style = "width: 160px;padding-left: 8px;"/>
	      </div>
	    </div>
	    <%- include('./info') %>
	    <%- include('./chart') %>
	    <%- include('./cameraImage') %>
      <div id = "footer">
        <div id="copyright">
          Copyright &copy; 2020 Technonia.
        </div>
        <div id="companyInfo">
          TEL. 000-000-0000 FAX.000-000-0000
        </div>
      </div>
	</div>
  </body>
