<div id="search">
    <input class="date" type="date" id="date_from">
    <input class="time" type="time" id="time_from">
     -
    <input class="date" type="date" id="date_to">
    <input class="time" type="time" id="time_to">
    <input id="result_from" type="hidden">
    <input id="result_to" type="hidden">
    <!--<button class="submit btn" id="search_btn">검색</button>-->
</div>
