body{
  background-color: #131419;
  padding: 0;
  margin:0;
  text-align: center;
}

#header {
  text-align: center;
}

#logo{
  background-color: rgba( 255, 255, 255, 0.05);
  border-radius: 0 0 15px 15px;
  padding: 25px 30px 20px 30px;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
  width: 80%;
  min-width: 1000px;
  box-shadow: 2px 2px 5px 0.5px rgba(0, 0,0,0.4);
}

/*roi section*/
#adminROI{
  text-align: center;
  width: 100%;
}
.roi{
  display: inline-block;
  width: 80%;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  border-radius: 5px;
  background-color: #26262c;
  min-width: 1000px;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px 0.5px rgba(0, 0,0,0.4);
}
.title{
  color: white;
  display: block;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
}
#explain {
  display: inline-block;
  color: white;
  width: 578px;
  background-color: rgba(74, 189, 158, 0.1);
  padding: 30px;
  border: 1px solid rgb(74, 189,158);
  border-radius: 6px;
  text-align: left;
}
#roiContent {
  vertical-align: top;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  gap:20px 0;
}
#roiTab{
  display: inline-block;
  font-size: 1.1em;
  padding: 3px 0 3px 0;
  border-radius: 3px;
  text-align: left;
  vertical-align: top;
  grid-row: 2/2;
  grid-column: 1/3;
}
#roiImage{
  display: inline-block;
  text-align: left;
  grid-row: 2/2;
  grid-column: 2/3;
}
.eachCamera{
  position: relative;
}

.blurRoi{
  position: absolute;
  border: 1px solid #f84450;
  background-color: rgba(248, 68, 80, 0.3);
  display: inline-block;
}
.button{
  display: inline-block;
  text-align: right;
  align-self: end;
  grid-row: 2/2;
  grid-column: 3/3;
}
.roiCam{
  display: inline-block;
  color: rgba( 255, 255, 255, 0.3);
  padding: 1px 15px;
  font-size: 0.8em;
  border-radius: 20px;
  border: 2px solid rgba( 255, 255, 255, 0.3);
  margin-bottom: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.clickedCam{
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  padding: 1px 15px;
  font-size: 0.8em;
  border-radius: 20px;
  border: 2px solid rgba(74, 189, 158, 0.8);
  background-color: rgba(74, 189, 158, 0.1);
  margin-bottom: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.completeCam{
  display: inline-block;
  color: black !important;
  padding: 1px 15px;
  font-size: 0.8em;
  border-radius: 20px;
  border: 2px solid rgba(74, 189, 158, 0.1); !important;
  background-color: rgba(74, 189, 158);
  margin-bottom: 16px;
  cursor: pointer;
  margin-left: 8px;
}

#submit{
  font-size: 15px;
  padding: 5px 40px;
  background-color: #4abd9e;
  display: inline-block;
  border-radius: 30px;
  border: none;
  margin-bottom: 10px;
}

#cancel{
  font-size: 15px;
  padding: 5px 40px;
  background-color: rgba( 255, 255, 255, 0.7);
  display: inline-block;
  border-radius: 30px;
  border: none;
  margin-bottom: 7px;
}

.cropper {
    position: relative;
    cursor: crosshair;
    margin-left: 0px;
}
.cropper-area-handle {
    width: 6px;
    height: 6px;
    background: red
}
.cropper-overlay {
    background: black;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}


/*footer*/
#footer{
  padding: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 80%;
  min-width: 1000px;
}

#copyright{
  float: left;
  display: inline-block;
  color: rgba(255,255,255, 0.4);
}
#companyInfo{
  float: right;
  display: inline-block;
  color: rgba(255,255,255, 0.4);
}
