body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

  /* ::-webkit-scrollbar { width: 10px } */
  /* picture */
  #cont_wrapper {
	  position: absolute
  }
  #cont {
    position: relative;
    background: #26262c;
    width: 80%;
	padding:0 20px;
	min-width: 1000px;
	margin: 0 auto;
    overflow: hidden;
	border-radius: 0 0 15px 15px;
	box-shadow: 2px 2px 5px 0.5px rgba(0, 0,0,0.4);
	text-align: left;
  }


  [id *= "row"] {
    /* position: relative; */
    /* width: 100%; */
    margin-bottom: 15px;
  }
  [id *= row]:last-child {
    border: none;
  }


  [id *= "row"] div {
    display: inline-block;
  }

  [id *= "row"] img {
    margin-right: 20px;
    height:170px; width: 270px;
    opacity: 0.85;
  }
  [id *= "row"] img:hover {
    opacity: 1;
  }

.append {
	margin-right: 20px;
    height:170px; width: 270px;
}


  .right {
    position: absolute;
    right:30px; padding-right: 15px;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    border: none;
	cursor: pointer;
  }
  .left {
    position: absolute;
    left: 42px; padding-left:13px;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    border: none;
	cursor: pointer;
  }
  [class *= "total_wrapper"] {
    position: relative;
    overflow-x: scroll;
    white-space:nowrap;
    width:90%; height:215px;
    margin: 0 50px 0 55px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* scrollbar 속성 변경 */
  [class *= "total_wrapper"]::-webkit-scrollbar {
        width: 6px;  /* 세로축 스크롤바 길이 */
        height: 6px;  /* 가로축 스크롤바 길이 */
  }
  [class *= "total_wrapper"]::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  [class *= "total_wrapper"]::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  [class *= "total_wrapper"]::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  .img_date p {
    color: rgba(255, 255, 255, 0.6);
    padding: 3px 0 0 10px;
    font-size: 13px;
  }

  [class *= "cam_t"] {
    color: #ffffff;
    border-radius: 50px;
    border: 1px solid #ffffff;
    padding: 5px 18px;
    display: inline-block;
    margin: 15px 0 20px 34px;
    opacity: 0.8;
	font-size: 14px;
  }
  .cam_t1 {
    margin-top: 40px;
  }

    #detail {
      position: absolute;
      top:0; right:0;
      color: #ffffff;
      background:#323237;
      height: 410px;
      width: 285px;
      display: none;
      transition: all ease 0.3s;
	  font-size: 15px;
    }
	.info p {
		display: inline-block;
	}

    .text{
      position: relative;
      margin-top: 30px;
    }
    .person {
      position: absolute;
      width: 40%;
      top:0; right:0px;
      text-align: right;
    }
    .close{
      border: 1px solid #ffffff;
      border-radius: 50px;
      padding: 3px 30px;
      float: right;
      margin-top: 30px;
      font-size: 14px;
	  cursor:pointer;
    }
	.close:hover {
		border-color: rgb(74, 189, 158);
		color: rgb(74, 189, 158);
	}
