body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}
  /* information */

  th, td {
    padding-bottom: 10px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
  }
  #info_wrapper {
    margin: 35px auto;
    overflow: hidden;
    width: 83%;
    min-width: 1040px;
	padding: 4px 3px 4px 0;
  }
  .info_table {
    border-collapse: separate;
    border-spacing: 0 15px;
	font-size: 15px;
  }
  .site_info {
	text-align: left;
    background:#1b1b21;
    height: 200px; width:28.5%;
    margin-right:1.5%;
    float:left;
    border-radius: 15px;
    color: white;
	box-shadow: 2px 2px 5px 0.5px rgba(0, 0,0,0.4);
  }
  .info_row {
    overflow:hidden;
    position: relative;
  }
  .info_div {
    padding-top: 23px;
    color: rgba(255, 255, 255, 0.6);
	/* fix */
    font-size: 14px;
  }
  .thumbnail {
    display: inline-block;
    width:35px; height:35px;
    border-radius:50px;
    background: url(../../public/images/shopimage.png);
    background-size: cover;
    margin-bottom: 15px;
    float:left;
  }
  .store {
    color: #4abd9e; float:left;
    padding: 8px 15px;
	/* fix */
	font-size: 17px;
  }

  #setting {
    border: 0.75px solid #7f7f7f;
    color: #7f7f7f;
    padding: 2px 8px;
    border-radius: 50px;
    background: none;
    float: left;
	font-size: 13px;
	cursor: pointer;
	margin-top: 9px;
  }

  .cam_info {
    background:#1b1b21;
    height: 200px; width:70%;
    float:left;
    border-radius: 15px;
    color: white;
	box-shadow: 2px 2px 5px 0.5px rgba(0, 0,0,0.4);
  }
  .cam_info th, .cam_info td:not(.last) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
  }


  .table_wrapper {
    overflow-y: scroll;
    white-space: nowrap;
    width: 95%; height: 147px;
    margin: 0 auto;
  }
  /* scrollbar 속성 변경 */
  .table_wrapper::-webkit-scrollbar {
		width: 6px;  /* 세로축 스크롤바 길이 */
		height: 6px;  /* 가로축 스크롤바 길이 */
  }
  .table_wrapper::-webkit-scrollbar-track-piece {
	background-color: transparent;
  }
  .table_wrapper::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.2);
  }
  .table_wrapper::-webkit-scrollbar-button {
	width: 0;
	height: 0;
  }
  .table_wrapper::-webkit-scrollbar-corner {
	width: 0;
	height: 0;
  }
  .site_wrapper {
    padding-left: 34px;
  }
