div#search{
  color: white;
  margin-bottom: 30px;
  float:left;
  width:60%;
  //border:solid 1px red;
}
input, select{
  //width:80%;
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
  height: 25px;
}
input.date{
  width:170px;
}
input.time{
  width:120px;
}
.btn{
  width: 100px;
  height: 40px;
}
button#search{
  margin-left:10px;
  border: solid 1px white;
}
input{
  box-sizing: border-box;
  width: 500px;
  //max-width: 500px;
  //width:100%;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color: rgb(255,255,255, 0.6);
  border: 1px solid rgb(255,255,255, 0.6);
  text-align: left;
  padding: 0px 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
}

button.submit{
  all: unset;
}
