/* setting 관련 정보 */

#main {
  text-align : center;
}

hr{
  border: solid 0.5px rgb(255,255,255, 0.3);
  border-bottom:0px;

}

div#setting1, div#setting, div#search{
  display: inline-block;
  width: 80%;
  padding: 30px;
  min-width: 980px;
  border-radius: 5px;
  background-color: #1b1b21;
  margin-top: 10px;
  color: white;
  margin-bottom: 0px;
}
div#setting1{
  margin-bottom: 0px;
}

div#setting1, div#setting{
  box-shadow: 2px 2px 5px 0.5px rgba(0, 0,0,0.4);
  display: inline-block;
  max-width: 1159px;
}

div#info_company{
  display:block;
}

.info{
  width: 50%;
  height:100%;
  float: left;
  text-align:left;
}

#info_company, #info_company_first{
  width:100%;
  margin-bottom:20px;
}

.info_image_left{
  width:170px;
}

td, th{
  //border: solid 1px red;
}
table{
  width:100%;
  border-spacing: 10px;
  color: rgba( 255, 255, 255, 0.6);
}
table#info_image_table{
  width:auto;
}
.info_title{
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  height:27px;
}
.info_camera_middle{
  width:30%;
}
.space{
  height:10px;
  border: solid 2px red;
}
input, select{
  box-sizing: border-box;
  width: 160px;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color:white;
  border: 1px solid rgb(255,255,255, 0.3);
  text-align: center;
  padding: 0px 20px;
}

div#setting input{
  color:grey;
}
div#info_company_first input{
  color:white;
}
.btn{
  width: 100px;
  height: 40px;
}

button.edit{
  box-sizing: border-box;
  width: 80px;
  font-size:12px;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color:#4abd9e;
  border: 1px solid #4abd9e;
  text-align: center;
}

button.cancle{
  box-sizing: border-box;
  width: 80px;
  font-size:12px;
  border-radius: 50px;
  height: 25px;
  background-color:rgba( 255, 255, 255, 0.7);;
  color:black;
  border:none;
  text-align: center;
}

button.cancle{
  display:none;
}
button.confirm{
  box-sizing: border-box;
  width: 160px;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color:#131419;
  background-color: #4abd9e;
  border: 1px solid #4abd9e;
  text-align: center;
  padding: 0px 20px;
}

button#confirm, button#confirm_image{
  width: 100px;
  height:25px;
  float:right;
  margin-left:50px;
}
button#confirm_company{
  text-align: center;
  width: 80px;
  height:24px;
}

button#confirm_camera, button#confirm_image, button#confirm_company{
  display:none;
}

#info_company input, #info_company_first input{
  width: 250px;
  text-overflow: ellipsis;
  text-align:center;
  color:grey;
}
.info_left{
  width:130px;
}
input#companyName{
  width: 160px;
}
input#phone{
  width: 160px;
}
input#location{
  width: 280px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.info_image_right{
  //width:180px;
}
