/* setting 관련 정보 */

#main {
  text-align : center;
}
div#info, div#setting1, div#setting, div#search{
  display: inline-block;
  width: 80%;
  padding: 30px;
  min-width: 1000px;
  border-radius: 5px;
  background-color: #1b1b21;
  margin-top: 30px;
  color: white;
  margin-bottom: 0px;
}

#info_company{
  width:40%;
}
#info_company .info_company_left{
  width: 30%;
}
#info_company .info_company_right{
  width: 70%;
}

.info{
  width: 50%;
  height:100%;
  float: left;
  text-align:left;
}

.info_image_left{
  //border: solid 1px red;
  width:35%;
}

td, th{
  //border: solid 1px red;
}
table{
  width:100%;
  border-spacing: 10px;
  color: rgba( 255, 255, 255, 0.6);
}
.info_title{
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  height:25px;
}
.info_camera_middle{
  width:30%;
}
.space{
  height:10px;
  border: solid 2px red;
}
input, select{
  box-sizing: border-box;
  width: 160px;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color:white;
  border: 1px solid rgb(255,255,255, 0.3);
  text-align: center;
  padding: 0px 20px;
}
#info_company input{
  width: 250px;
  text-overflow: ellipsis;
  text-align:center;
}

div#setting input, div#info_company input{
  color:grey;
}

.btn{
  width: 100px;
  height: 40px;
}

button.edit{
  box-sizing: border-box;
  max-width: 80px;
  font-size:12px;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color:#4abd9e;
  width:100%;
  border: 1px solid #4abd9e;
  text-align: center;
}
button.confirm{
  box-sizing: border-box;
  max-width: 160px;
  width:80%;
  border-radius: 50px;
  height: 25px;
  background-color:transparent;
  color:#131419;
  background-color: #4abd9e;
  border: 1px solid #4abd9e;
  text-align: center;
  padding: 0px 20px;
}

button#confirm, button#confirm_image{
  width: 100px;
  float:right;
  margin-top:20px;
  margin-right:50px;
}
button#confirm_company{
  text-align: center;
  width: 80px;
}

button#confirm_camera, button#confirm_image, button#confirm_company{
  display:none;
}
.info_camera{
  text-align:left;
}
